.post__comments .post__comment .post__user__image__container {
  flex: 0 0 70px; }
  .post__comments .post__comment .post__user__image__container .post__user__image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    width: 100%; }
    @media only screen and (max-width: 768px) {
      .post__comments .post__comment .post__user__image__container .post__user__image {
        width: 45px;
        height: 45px; } }

.post__comments .post__comment .comment__text {
  line-height: 30px;
  margin-left: 25px;
  text-align: justify; }
  @media only screen and (max-width: 768px) {
    .post__comments .post__comment .comment__text {
      margin-left: 0px;
      line-height: 20px; } }
