.header {
  align-items: center;
  background: #fff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px #55acee;
  color: #757575;
  height: 46px;
  padding: 0 10px; }
  .header .nav__toggle {
    width: 80px; }
  .header .header__text {
    width: 200px; }
  .header .header__right__icons {
    flex: 1;
    justify-content: flex-end; }
