.post__container {
  background-color: #fff;
  color: #757575;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin: 10px;
  padding: 0.01em 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; }
  .post__container .post__write {
    align-items: center;
    border-bottom: 1px solid #757575;
    flex: 0 0 100%;
    font-size: 25px;
    height: 50px; }
    .post__container .post__write .span.icon-pencil-circled {
      background: red; }
    .post__container .post__write input {
      outline: none;
      border: none;
      font-size: 25px;
      letter-spacing: 1px;
      font-weight: normal;
      flex: 1; }
  .post__container .post__type__container {
    padding: 20px 0;
    border-bottom: 1px solid #757575; }
    .post__container .post__type__container button {
      background: #f6fafa;
      border-radius: 5px;
      color: #b1b4b4;
      font-size: 20px;
      font-weight: 300;
      height: 50px;
      text-align: left; }
      .post__container .post__type__container button.active {
        align-items: center;
        background: #55cc6c;
        color: #fff;
        outline: none; }
  .post__container .post_creator__footer {
    height: 50px;
    align-items: center;
    font-size: 20px; }
