html {
  background: #ddd;
}
.container__main {
  margin: 0 auto;
  @media only screen and (min-width: 768px) {
    justify-content: center;
    width: 60%;
  }
}

/************************************************* Icon **************************************/
.icon__button {
  cursor: pointer;
}

/************************************************* Text-aligh **************************************/

.text__right {
  text-align: right;
}

/************************************************* m-*- ***************************************/
.m-10 {
  margin: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}

.m-tb-10 {
  //delete n change
  margin: 10px 0;
}

/************************************************* Flex ***************************************/
* {
  box-sizing: border-box;
}
.flex__container {
  display: flex;
  flex-wrap: wrap;
  &.dir__column {
    flex-direction: column;
  }
  .flex__50 {
    flex: 0 0 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .flex__100 {
    flex: 0 0 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
